body{

}

nav{
	height: 130px;
	background-color: white;
}
.font-navitem{
		font-size: 1.2em;
		color: black;
}
.nav-icon-burger{
		color: darkgrey;
}
.navnik-item{
	padding-top: 30px;
	margin-right: 35px;
	margin-left: 25px;
}
.subtitle-verticalp{
	writing-mode: vertical-lr;
	min-height: 350px;
		 -ms-transform: rotate(180deg); /* IE 9 */
	 -webkit-transform: rotate(180deg); /* Safari 3-8 */
	transform: rotate(180deg);
	color: #ADADAD;
	letter-spacing: 2px;
}
#incio{

}
#beneficios{

}
#componentes{

}
#nosotros{

}
#contacto{

}
