body{


}

nav{
	height: 130px;
	background-color: white;
}
/* las fuckin flechas -------------------*/
.arrows1{
	width: 100%;
	position: relative;
	display: inline-block;
	z-index: 3;
	position: relative;
	margin-top: 17%;
}
.arrowl{
	float: left;
	color: #6b6968;
}
.arrowr{
	float: right;
	color: #6b6968;
}
/* las fuckin flechas -------------------*/
.black-text{
	color:black;
}
.btnorange{
	background-color: #F58C24;
	border-radius: 20px;
	margin-top: -30px;
	font-size: 11px;
	font-weight: normal;
	text-transform: capitalize;
	padding-left: 25px;
	padding-right: 25px;
}
.btngreen{
	background-color: #79BAAC;
	border-radius: 20px;
	margin-top: -30px;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	padding-left: 25px;
	padding-right: 25px;
}
.btngreen2{
	background-color: #79BAAC;
	border-radius: 30px;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	padding-top: 3%;
	padding-bottom: 9%;
	width: 190px;
	height: 60px;
}
.btnSend{
	background-color: #79BAAC;
	border-radius: 20px;
	font-size: 2em;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	height: 55px;
}
.card-hover:hover{
	border: 2px solid lightgray;
}
.cardscenter{
	padding-left: 5%;
}
.card-content{
	min-height: 200px;
}
.card-image{
	min-width: 50px; 
	max-width: 200px;
}
.cardImage1{
	  width: 100%;
  height: auto;
	text-align: center;
	 display: block;
  margin-left: auto;
  margin-right: auto;
}
.cardsquare{
	width: 100px;
	height: 100px;
	text-align: center;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
.cardfooter{
	margin-top: -50px;
	padding-top: 30px;
	width: 256px;
	height: 256px;
}
.cardTextBlack{
	color: #595959;
	text-transform:capitalize;
}
.cardTextBlack2{
	color: #595959;
	text-transform:lowercase ;
}
.imagesquare{
	width: 100%;
	height: auto;
}
.carouselOne{
	background-color: #D4D3CE; 
	object-position: 5px 10%;
	width: 500px;
	height: 150px;
	position:absolute; top:200px; left:750px; 
}
.carouselOne1{
	background-color: #D2D1CC; 
	object-position: 5px 10%;
	width: 500px;
	height: 150px;
	position:absolute; top:200px; left:750px; 
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .carouselOne{
	background-color: #D4D3CE; 
	object-position: 5px 10%;
	width: 500px;
	height: 150px;
	position:absolute; top:200px; left:600px; 
	}
  
}


@media (min-width: 481px) and (max-width: 767px) {
   
   .carouselOne{
	background-color: #D4D3CE; 
	object-position: 5px 10%;
	width: 500px;
	height: 150px;
	position:absolute; top:110px; left:350px; 
	}
	.subtitleBlack{
	font-weight: bold;
	font-size: 1.5em;
	color: #6b6968;
	}
	.carouselTexts{
	color: #6b6968;
	font-weight: bold;
	font-size: .5em;
	}

	.img-carousel-aceites{
	height: 150px;
	position: relative;
	z-index: 3;
}
  
}
@media (min-width: 320px) and (max-width: 480px) {
  
	.carouselOne{
	background-color: #D4D3CE; 
	object-position: 5px 10%;
	width: 500px;
	height: 150px;
	position:absolute; top:25px; left:175px; 
	font-size: -7em;
	}

	.carouselTexts{
	color: #6b6968;
	font-weight: bold;
	font-size: .9em;
	}

	.img-carousel-aceites{
	height: 150px;
	position: relative;
	z-index: 3;
		}

	.misionvisionBG{
	width: 100%;
	height: auto;
	opacity: 0.5;
	position: relative;
	z-index: -3;

	}
	.subtitleBlack{
		font-weight: bold;
		font-size: 1em;
		color: #6b6968;
	}

}


.carouselTexts{
color: #6b6968;
font-weight: bold;
font-size: 1.2em;
}
/** Carousel componentes naturales */
.img-carousel-aceites{
	height: 420px;
	position: relative;
	z-index: 3;
}


/** Carousel componentes naturales */
.carousel_container{
	padding-left: 10%;
	padding-right: 15%;
	text-align: left;
}
.comillotas1{
	width: 150px;
	position: relative; bottom:250px; left: 8%;
	float: left;
}
.comillotas2{
	width: 150px;
	position: relative; right: 8%;
	float: right;
}
.container-city{
	border: solid #79BAAC 1px;
	color: #F58C24; 
	font-size: 2em;
	margin: auto;
	margin-bottom: 5%;
	margin-top: 10%;
	text-align: center;
}
.container-city:hover{
	border: 1px solid lightgray;
}
.colUp{
	margin-top: -75px;
}
.emulgel{
	background-color: #79BAAC;
	color: white;
	font-size: 2.5em;
	font-weight: bold;
	padding-top: 5px;	
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: -20px;
}
.emulgel5{
	background-color: #F58C24;
	color: white;
	font-size: 2.5em;
	font-weight: bold;
	padding-top: 5px;	
	padding-bottom: 20px;
	text-align: center;
}
.flechas{
	margin-left: 10px;
	margin-right: 10px;
}
.font-card{
	font-size: 12px;
}
.font-navitem{
		font-size: 1.2em;
		color: black;
}
.font-bold{
	font-weight: bold;
}
.formcontact{
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}
.formFinal {
	margin-top: 40px;
	background-color: lightgray;
	border: lightgrey solid 2px;
	border-radius: 20px;
	 text-decoration: none;
	 position: relative;

}
 .input-field label {
     color: #000;
   }
.misionvisionBG{
	background-image: url('../images/Backgrounds/Imagen-13.png');
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover;
  	height: 700px;
}
.nav-icon-burger{
		color: darkgrey;
}
.navnik-item{
	padding-top: 30px;
	margin-right: 35px;
	margin-left: 25px;
}

.listorange{
	list-style-type: disc;
	color: orange;
	
}
.li-text{
	color:black;	
	font-size: 13px;
	text-align: justify;
	margin-bottom: 10px;
}
.lineAbajo{
	border-bottom: 1px solid black;
	padding-bottom: 35px;
}
.lineaLado{
	border-left: 1px solid black;
}
.subtitleBlack{
	font-weight: bold;
	color: #6b6968;
}
.SubtitleGreen{
	font-size: 2.5em;
	font-weight: bold;
	color: #79BAAC;
	margin-left: 9%;
}
.SubtitleGreen2{
	font-size: 2.5em;
	font-weight: bold;
	color: #79BAAC;

}
.SubtitleGreen3{
	font-size: 35px;
	font-weight: bold;
	color: #79BAAC;
	text-align: left;

}
.SubtitleGreenLine{
	border-bottom: orange 3px solid;

}
.subtitle-verticalp{
	writing-mode: vertical-lr;
	min-height: 370px;
		 -ms-transform: rotate(180deg); /* IE 9 */
	 -webkit-transform: rotate(180deg); /* Safari 3-8 */
	transform: rotate(180deg);
	color: #ADADAD;
	letter-spacing: 2px;
	text-align: center;
}
.mision{
	font-size: 16px;
	text-align: justify;
	text-justify: inter-word;
}
.shadow{
	background-color: #F5F5F5;
	opacity: 0.9;
}
.text-carousel3{
	text-align: left;
	justify-content: justify;
	font-size: 1.2em;
}
.text-container-carousel3{
	padding-top: 13%;
}
.text-carousel4{
	
	text-align: left;
  text-justify: inter-word;
	font-size: 1.2em;
}
.titlebeneficios{
	text-align: center;
	font-size: 34px;
	font-weight: bold;
	color: #6b6968;
}
#incio{

}
#beneficios{
	padding-left: 5%;
	position: relative;
	z-index: auto;

}
#componentes{
  	padding-left: 5%;
}
.componentesBG{
	background: url('../images/Backgrounds/Imagen-11.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 500px;
  display: inline;
  float: right;
  z-index: -1;
  margin-top: -600px;
  position: relative;
}
#nosotros{
	padding-left: 5%;
}
#contacto{
/*	background: url('../images/Backgrounds/Imagen-12.png');
	background-position: left;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-origin: border-box; */
  	height: 700px;
  	margin-top: 100px;
	z-index: auto;
}
.contactoBG{
  background: url('../images/Backgrounds/Imagen-12.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  width: 550px;
  display: inline-block;
  float: left;
  z-index: -1;
  margin-top: -700px;
}
#testimonios{
margin-top: -50px;
z-index: auto;
}
.testimoniosBG{
  background: url('../images/Backgrounds/Imagen-11.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 500px;
  display: inline;
  float: right;
  z-index: -1;
  margin-top: -550px;
  margin-bottom: -100px;
}
.footerOrange{
	background-color: #F58C24;
	width: 100%;
}